/* @font-face {
    font-family: "Connection";
    src: url("../../assets/font/Connection.ttf") format("truetype");
} */

body {
    font-size: 10px;
    color: #000000;
    background-color: #ffffff;
    margin: 0;
    overflow: hidden;
}

body>canvas {
    display: block;
    margin: 0 auto;
}